.App {
  text-align: center;
}

.App-header {
  /* background-color: #ebc99e; */

  background: url("./Images/LogInPage\ -\ Background.png") no-repeat center
    fixed;
  min-height: 100vh;
  display: flex;
  border: solid black 5px;
  color: rgb(12, 6, 1);
  flex-flow: column wrap;
}

.App-navbar {
  display: flex;
  border: solid red 2px;
  color: #f58032;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20px;
  width: 100vw;
  position: fixed;
  top: 0;
  background: #ff9d5b;
}

.App-logo {
  height: 20vh;
}

.App-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.App-LogoAndTitle {
  display: flex;
  width: fit-content;
}
