.MyEvents {
  flex-grow: 1;
  border: 1px solid green;
  display: flex;
}

.MyEvents-EventList {
  flex-grow: 1;
  border: 1px solid red;
}

.MyEvents-EventForm {
  flex-grow: 5;
  border: 1px solid blue;
}
