.MyGroups {
  flex-grow: 1;
  border: 1px solid green;
  display: flex;
}

.MyGroups-GroupList {
  flex-grow: 1;
  border: 1px solid red;
}

.MyGroups-GroupForm {
  flex-grow: 5;
  border: 1px solid blue;
}

.MyGroups-MemberList {
  flex-grow: 1.5;
  border: 1px solid violet;
}
